@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html {
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Lato';
  background-color: #151515;
}

#lastTrend,
#lastRankImdb,
#lastRankGd,
#lastLiked,
#lastLikedTv,
#lastGd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 4.5em;
  justify-content: flex-start;
  margin-top: 30px;
}

.likedH1C,
.likedH1S {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  position: absolute;
  border-radius: 25px;
  margin-top: 3em;
  padding: 2px;
}

footer {
  background-color: #730b534d;
  color: #fff;
  height: 36px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.imgGitHub {
  height: 25px;
  cursor: pointer;
  padding: 50px;
}

.inactive {
  display: none !important; /* Fuerza el cambio a display: none */
}


#last,#lastGd {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 8em;
  justify-content: flex-start;
}

.card {
  flex: 0 1 270px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0.15em #720455;
  color: #ffffff;
  background: #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  overflow: hidden;
  border-radius: 10%;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .7s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
  position: absolute;
  font-size: .8em;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.card.clicked img {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(10deg);
  filter: blur(3px);
}

#btnMovie-id {
  cursor: pointer;
  width: 60px;
  filter: none;
  height: 60px;
  transform: rotate(0deg);
  position: absolute;
  top: 76%;
  right: 65%;
}

#btnMovie-id:hover {
  transform: scale(1.5);
}

.card.clicked {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(1.2);
  filter: drop-shadow(12px 12px 10px #910A67);
  z-index: 1;
}

.card.clicked .descriptions {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.movieDirectingPreview:hover {
  color: #030637;
}

.movieOrigenPreview:hover {
  color: #3C0753;
}
#btnMovie-liked-preview{
  cursor: pointer;
  width: 30px;
  filter: none;
  height: 30px;
  transform: rotate(0deg);
  position: absolute;
  left: 65%;
  top: 76%;
}

#btnMovie-liked-Id{
cursor: pointer;
}

#btnMovie-liked:hover {
  transform: scale(1.5);
}
.movieInfo{
  font-family: 'Montserrat', Arial, sans-serif;  
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna (uno debajo del otro) */
  gap: 5px; /* Espacio entre cada elemento hijo */
}
.poster {
  width: auto;
  height: auto;
  margin-top: 5em;
}
.imgPoster {
  object-fit: cover;
}
.title1 {
  font-size: calc(3px + 2vw);
  font-weight: 700;
  color: #fff;
}
.title2 {
  color: #C7C1BA;
  font-weight: 300; 
}
.logos { 
  margin-top: -7em;
  padding-left: 50em;
  display: flex;
}
.logosMensaje {
  font-family: 'Montserrat', Arial, sans-serif;
  padding-left: 69em;
  margin-top: -5em;
  color: #d5d2f8;
}
.logoProvider {
  border-radius: 50%;
  height: 73px;
  object-fit: cover;
  padding: 6px;
}
.infoExtra{
  margin-top: 1em;
  color: #fff;
}
.origenCountry { 
  width: max-content;
}
.origen {
  cursor: pointer;
}
.origen:hover {
  background: #060302;
  color: #892CDC
}

.genresContainer { 
  width: max-content;
}
.tag {
  cursor: pointer;
}
.tag:hover {
  background: #060302;
  color: #8C3061
}
.overview {
  font-size: 20px;
  line-height: 25px;
  color: #d5d2f8;
  width: 95%;
}
.interaction {
  display: flex;
  flex-direction: column; /* Alinea los elementos de interacción verticalmente */
}
#btnMovie-liked {
  cursor: pointer;
  filter: none;
  height: 30px;
  transform: rotate(0deg);
  width: 30px;
  display: flex;
  margin-left: 245px;
  margin-top: -31px;
}
#btnComment{
  background: #151515;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  font-variant: small-caps;
  width: 35%;
  margin-left: 26%;
  display: flex;
  margin-top: 4px;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}
#btnRankMovie{  
  align-items: center;
  background: #151515;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  font-variant: small-caps;
  display: flex;
  margin-top: -24px;
  width: 106px;
  margin-left: 123px;
}
.inputRank{
  background-color: #151515;
  border-radius: 80px;
  color: #fff;
  display: flex;
  font-weight: 900;
  margin-top: 14px;
  width: 8%;   
}
.comentario{
  color: #b473d7;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 3px;

  border-color: #720455;
}
.rankeo{
  color: #B1B0AC;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-style: #720455;
  margin-left: 3px;
}
.inputComment {
  background-color: #151515;
  border-radius: 15px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  min-height: 50px;
  outline: none;
  padding: 10px;
  transition: all .3s ease-in-out;
  width: 90%;
}
.inputComment::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #720455;
  font-size: 15px;
  letter-spacing: 3px;
}
.inputComment:focus {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background-color: #151515b2;
  border-bottom: 1px solid #892CDC;
}
.castMovie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(101px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1px;
  margin-top: 65px;
}

.movieImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.castName {
  font-size: 20px;
  color: #B1B0AC;
  width: 75%;
  cursor: pointer;
}

.carousel {
  justify-content: center;
  align-items: center;
  display: flex;
 
}
.nextBtn {
  cursor: pointer;
  position: absolute;
  margin-top: 23%;
  margin-left: 88%;
}

.prevBtn {
  cursor: pointer;
  position: absolute;
  margin-top: 23%;
  margin-left: -2em;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img:hover {
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
}

#lastSimilar {
display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.cine {
  width: 86%;
  height: 85px;
  background: linear-gradient(-135deg, transparent 35px, #151515 0);
  filter: drop-shadow(1px 2px 6px #DC84F3);
  text-align: center;
  position: relative;
  z-index: 1;
}

.series {
  width: 86%;
  height: 85px;
  background: linear-gradient(-135deg, transparent 35px, #151515 0);
  filter: drop-shadow(1px 2px 6px #910A67);
  text-align: center;
  position: relative;
  z-index: 1;

}

.titlePortadaH1--header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}
.titleNick {
  animation: shake 2.5s linear forwards;
  color: #060302;
  filter: blur(.007em);
  font-family: Montserrat, Arial, sans-serif;
  font-size: calc(23px);
  font-weight: 700;
  letter-spacing: 0.02em;
  position: absolute;
  left: 88%;
  text-shadow: 0 0 .15em #910a67;
  top: 118%;
  user-select: none;
  white-space: nowrap;
}
.titlePortadaH1{
  font-family: 'Montserrat', Arial, sans-serif;
  position: absolute;
  font-size: calc(26px + 3vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #910A67;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  right: 69%;
  top: -19%;
  cursor: pointer;
}

.titlePortadaH1:hover {
  text-shadow: 0 0 0.15em #DC84F3;

}

.titlePortadaH1 .titlePortadaSpan {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.titlePortadaH1::before,
.titlePortadaH1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.titlePortadaH1::before {
  animation: crack1 3.5s linear forwards;
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);

}

.titlePortadaH1::after {
  animation: crack2 3.5s linear forwards;
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);

}

#modeH1 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: absolute;
  font-size: calc(15px + 3vw);
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #910A67;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  right: 8%;
  top: -45%;
  cursor: pointer;
}

#modeH1:hover {
  text-shadow: 0 0 0.15em #DC84F3;

}

#apiDropDownPaisProvider {
  background: #151515;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 103%;
  width: 6em;
  font-family: 'Montserrat', Arial, sans-serif;
}

#apiDropDownPaisProvider:hover,
#apiDropdownPais:hover,
#apiDropdown:hover {
  color: rgba(225, 218, 218, 0.517);

}

#apiDropdownPais {
  background: #151515;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 103%;
  width: 5em;
  font-family: 'Montserrat', Arial, sans-serif;
}

#apiDropdown {
  background: #151515;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 44%;
  left: 103%;
  width: 5em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.search-box {
  position: absolute;
  top: 130%;
}
#login{
  position: absolute;
  top: 240%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
#sign{
  position: absolute;
  top: 240%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.inputNick,.inputNewNick{
  height: 25px;
  width: 120px;
  border-style: none;
  padding: 5px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #151515;
  padding-right: 100px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.input-pass,.input-new-pass{
  height: 25px;
  width: 120px;
  border-style: none;
  padding: 5px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #151515;
  padding-right: 100px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.input-search {
  height: 25px;
  width: 840px;
  border-style: none;
  padding: 5px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #151515;
  padding-right: 100px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-weight: 700;
    left: 21px;
}

.input-search::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #892CDC;
  font-size: 15px;
  letter-spacing: 3px;
}

#btnSearch {
  position: absolute;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  left: 910px;
  top: 3px;
  z-index: 1;
}

.input-search:focus {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background-color: #151515b2;
  border-bottom: 1px solid #892CDC;
}

select::after {
  float: right;
  content: "+";
}
#btnEnter,#btnCreateUser{
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  border-radius: 25px;
}
#btnUserLog{
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 140%;
  left: 88%;
  border-radius: 25px;
}
#btnUserLogOut{
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 140%;
  left: 103%;
  border-radius: 25px;
}
.in{
  background: #66b14b;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 140%;
  left: 88%;
  border-radius: 25px;
}
.out{
  background: #b40c0c;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 140%;
  left: 88%;
  border-radius: 25px;
}
#btnUserSign{
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 140%;
  left: 97%;
  border-radius: 25px;
}
#btnTrends {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 57.3em;
  left: 2%;
  border-radius: 25px;
}

#btnTrends:hover {
  background: rgb(243, 242, 242);
  color: #52057B;
}

#btnRankImdb {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 753%;
  left: 2%;
  border-radius: 25px;
}

#btnRankGd {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  position: absolute;
  top: 194%;
  left: 2%;
  border-radius: 25px;
}
#btnRank:hover {
  background: rgb(243, 242, 242);
  color: #52057B;
}




.titlePageH1 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #522258;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards infinite;
  top: 153px;
  left: 40%;
}

@keyframes shake {

  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {

  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {

  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}
@media(width <=760px) {

  .cine,
  .series {
    left: 0cqmin;
    width: 96vw;
  }
  #lastGd, #lastLiked, #lastLikedTv, #lastRankGd, #lastRankImdb, #lastTrend{
    top: 6.5em;
    margin-top: 6em;
    flex-wrap: wrap;
  }
  .titleNick { 
    left: 2%;
    top: 89%;
}
  .likedH1C {
    margin-top: 7em;
    left: 3cqmin;
  }

  .likedH1S {
    margin-top: 6.5em;
    left: 3cqmin;
  }

  .card {
    flex: 0 0 10em;
    margin: 1em 0.4em 1em 1em;
   
  }

  .card.clicked {
    transform: scale(1.1);
  }

  .descriptions {
    font-size: 0.5em;
    padding: 11.5px;
    bottom: 1em;
  }
  .titlePortadaH1 {
    font-size: calc(24px + 4vw);
    right: 57%;
    top: -10%;
  }

  #modeH1 {
    font-size: calc(17px + 4vw);
    right: 45%;
    top: 18%;
  }

  #apiDropDownPaisProvider {
    top: 156%;
    left: 0cqmin;
    width: 6em;
  }

  #btnUserLog{
    top: 115%;
    left: 20%;
  }
  #btnUserLogOut{
    top: 115%;
    left: 71%;
  }
  #btnUserSign{
    top: 115%;
    left: 60%;
  }

  #apiDropdownPais {
    top: 156%;
    left: 34cqmin;
    width: 5em;
  }

  #apiDropdown {
    top: 156%;
    left: 68cqmin;
    width: 5em;
  }

  .search-box {
    top: 209%;
    left: 0cqmin;
  }

  .input-search {
    height: 2em;
    width: 14em;
    font-size: 1em;
  }

  #btnSearch {
    left: 15em;
  }
  #login, #sign {
    top: 303%;
    left: 5em;
  }
#btnRankGd{
  top : 297%;
  left: 0cqmin;

}
#btnRankImdb{
margin-top: 64%;
left: 0cqmin;

}
  #btnTrends {
    top: 79em;
    left: 0cqmin;
  }

  #btnRank {
    top: 950%;
    left: 0cqmin;
  }

  .titlePageH1 {
    top: 9.3em;
    left: 5.5cqmin;
    font-size: 25px;
  }
    .title1 {
      font-size: 21px;
    }

    .title2 {
      font-size: 17px;
    }

    .infoExtra {
      margin-top: 1px;
    }

    .origenCountry {
      top: 13em;
    }
    .inputRank {
      width: 22%;
  }
    #btnRankMovie {
      margin-left: 130px;
      margin-top: -24px;
      width: 99px;
  }
  #btnMovie-liked-Id {
    height: 33px;
  }

  .logos {
    margin-top: 1em;
    margin-left: 1em;
    padding-left: 0em;
    display: block;
  }

  .logosMensaje {
    width: 76%;
  }

  .logoProvider {
    width: 15%;
    height: 15%;
  }

  .poster {
    margin-top: 10em;
    margin-left: 1em;
  }

  .castMovie {
    grid-template-columns: repeat(auto-fill, minmax(10em, 8em));
    margin-top: 1em;
    margin-left: 1.3em;
  }

  .castName {
    font-size: 1.4em;
    margin-left: 4%;
  }

  .movieImg {
    width: 9em;
    height: 9em;
  }

  .footerMovie {
    margin-top: 7cqmin;
  }

  .video {
    margin-left: -2%;
  }

  #lastSimilar {
    margin-top: 2%;
  }
}