@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

html {
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: 'Lato';
  background-color: #060302;
}
#lastTrend,
#lastRank,
#lastLiked,
#lastLikedTv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 90px;
  justify-content: flex-start;
}
.likedH1C {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  position: absolute;
  border-radius: 25px;
  margin-top: 4em;
}
.likedH1S {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  position: absolute;
  border-radius: 25px;
  margin-top: 4em;
}
.inactive {
  display: none;
}
@media (width <=500px) {
  #lastLiked,
  #lastLikedTv,
  #lastTrend,
  #lastRank {
    top: 10em;
    margin-top: 15%;
  }
  .likedH1C {
    margin-top: 10em;
    left: 3cqmin;
  }
  .likedH1S {
    margin-top: 9em;
    left: 3cqmin;
  }
}