@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

html {
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
body{ 
  width:100%;
  font-family: 'Lato';
  background-color: #060302;
}
.home{
	position: relative;
}
#apiDropDownPaisProvider{    
    background:#892CDC;
    border-radius: 25px;
    color:#060302;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    position: absolute;
    bottom: 85%;
    right: 45%;
  }
  #lastLiked{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    left: 1%;
    position: relative;
    top: 283px;
    justify-items: start; 
    background: linear-gradient( -135deg,transparent 35px,#060302 0);
}
#lastLikedTv{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    left: 1%;
    position: relative;
    top: 283px;
    justify-items: start; 
    background: linear-gradient( -135deg,transparent 35px,#060302 0);
}
.inactive {
	display: none;
  }  
@media (max-width: 768px) {
	.title_wrapper {
		text-align: center;
		left: 0;
	}
	.title_wrapper h1 {
		font-size: 32px !important;
		width: 100%;
	}
	
}
@media (max-width: 480px) {
	.column.is-one-quarter img {
		width: 100%;
		margin-bottom: 7rem;
	}
}


