@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

html {
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
body{ 
  width:100%;
  font-family: 'Lato';
  background-color: #060302;
}
#lastTrend {    
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
  position: relative;
  top: 83px;
  justify-items: stretch;    
}
#lastRank {    
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
  position: relative;
  top: 132px;
  justify-items: stretch;    
}

  #lastLiked{    
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
  position: relative;
  top: 160px;
  justify-items: start; 
}
#lastLikedTv{ display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
  position: relative;
  top: 160px;
  justify-items: start; 
}
.likedH1C {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  position: absolute;
  top: 198%;
  left: 2%;
  border-radius: 25px;
  margin-top: 20px;
}
.likedH1S {
  background: #151515;
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  position: absolute;
  top: 287%;
  left: 2%;
  border-radius: 25px;
  margin-top: 20px;
}


.inactive {
	display: none;
  }  
@media (width <= 500px) {
  #lastLiked,#lastLikedTv,#lastTrend,#lastRank {
    top: 17em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    left: 6%;
}
}


