@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.moviePage {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #ffffff;
  padding: 5px;
  position: relative;
}
.carousel {
  justify-content: center;
  align-items: center;
    display: flex;
    margin-top: 5px;
  }
  .poster{
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 90px;
    left: 35%;
    position: absolute;
  }
 
   .nextBtn {
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 193px;
    top: 7%;
  }
  .prevBtn {
    cursor: pointer;
    height: 50px;
    position: absolute;
    left: 193px;
    top: 7%;
  } 
  ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .logos {
    position: absolute;
    top: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    right: 25px;
  }
  .logosMensaje{
    font-size: 20px;
    line-height: 25px;
    color: #d5d2f8;
    width: 55%;
    position: relative;
    top: -23px;
    left: 300px;
  }
  .logoProvider {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .info-card {
    left: 3px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 62px;
  }

.containerDetail {
  position: absolute;
  top: 615px;
}

.title1 {
  margin-bottom: 11px;
  font-size: calc(3px + 2vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #522258;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em); 
}
.title2 {
  color: #C7C1BA;
  font-size: 23px;
  font-weight: 300;
  margin-top: -9px;
  margin-bottom: 13px;
    letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #8C3061;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em); 
}

.origenCountry {
  position: absolute;
  left: 3px;
  top: 217px;
  width: max-content;
}
.origen { 
  cursor: pointer;
}
.origen:hover {
  background: #060302;
  color: #522258
}
.column1 {
  position: absolute;
  left: 3px;
  top: 245px;
  width: max-content;

}
.tag { 
  cursor: pointer;
}
.tag:hover {
  background: #060302;
  color: #8C3061
}
.column2 {
  padding-left: 5px;
  position: absolute;
  top: 875px;
  width: 95%;
}
.overview {
  font-size: 20px;
  line-height: 25px;
  color: #d5d2f8;
  width: 95%; 
}
.castMovie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1px;
  margin-top: -1px;
}
.movieImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.castName {
  font-size: 20px;
  color: #B1B0AC;
  width: 75%;
  cursor: pointer;
}
img:hover {
  opacity: 0.8;
}
a:hover {
  text-decoration: none;
}
#lastSimilar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 96vw;
  justify-items: stretch;
  border-radius: 5px;
  margin-top: 35px;

}
.footerMovie{
  position: absolute;
  top: 1450px;}
@media(width<=500px){
  .containerDetail { 
    top: 10em;
    .title1{
      font-size: calc(10px + 4vw);
    }
    .origenCountry{
      top: 12.3em;
    }
    .column1{
      top: 13.7em;
    }
}
.logos{
  top: 25em;
    left: -19em;
}
  .poster{
    top: 29em;
    left: 0%;
  }
  .column2{
    top: 66em;
  }
  .footerMovie{
    top: 180em;
  }
  #lastSimilar{
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    left: 6%;
  }
}


